  <div id="login-container" class="full-height row white-text center">
    <div class="login-panel col s12 m3 push-m7 indigo darken-4">
      <div class="icon-block"><h2><i class="material-icons">person</i></h2></div>
      <h4>Üdvözli az e-napló!</h4>
      <div *ngIf="this.from && !this.error" class="container center">
        <div class="card-panel red lighten-1" role="alert">
          Az imént kért oldal megtekintéséhez pillanatnyilag nincs jogosultsága!
        </div>
      </div>
      <div *ngIf="this.error" class="container center">
        <div class="card-panel red lighten-1" role="alert">
          Az imént megadott felhasználónév vagy jelszó helytelen!
        </div>
      </div>
      <div *ngIf="this.buttonPressed && (!username.value || !password.value)" class="container center">
        <div class="card-panel red lighten-1" role="alert">
          Töltse ki mindkét mezőt!
        </div>
      </div>
      <p>Jelentkezzen be a hitelesítő adatival.</p>
      <p>&#8203;</p>
      <div class="login-fields container center">
        <div class="input-field">
          <input #username type="text" [ngClass]="error ? 'invalid' : ''" id="username" name="username" id="username" type="text" class="validate" required>
          <label for="username" class="active ">Felhasználónév</label>
        </div>
        <div class="input-field">
          <input #password type="password" [ngClass]="error ? 'invalid' : ''" id="password" name="password" id="password" type="password" class="validate" required>
          <label for="password" class="active ">Jelszó</label>
        </div>
      </div>
      <p>&#8203;</p>
      <div class="center card-action">
        <button type="button" value="Login" class="btn blue darken-3 waves-effect waves-light" (click)="login(username.value, password.value)">Bejelentkezés</button>
      </div>
      
      <div class="login-footer">
        <hr>
        <p class="center">Készítette: Tóta Dávid és Zatureczki Marcell</p>
        <p>&#8203;</p>
      </div>
    </div>
  </div>